.new-product{
  padding: 32px;
  height: 100%;
  background-color: white;
  overflow: scroll;
  color: var(--main);
}

.path{
  color: var(--main);
  font-weight: bold;
}

.devider{
  margin: 16px 0;
}

.new_product__title{
  font-size: 24px;
  font-weight: 500;
  color: var(--main);
  text-align: center;
  margin-bottom: 16px;
}

.image-preview{
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: 100%;
}